html, body {
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 100%;
  cursor: pointer;
}

.download:hover {
  background-color: #CFF2F2;
}

.download {
  background-color: #E5F2F2;
}